# --- CONFIGURAÇÃO DO BANCO DE DADOS (MySQL/XAMPP) ---
DB_HOST=#endereço de ip ou localhost
DB_PORT=#porta da rede
DB_NAME=#nome do banco
DB_USER=#usuario do banco
DB_PASS=#senha do banco (se tiver)


# --- CONFIGURAÇÕES DO SERVIDOR ---
# Deixe vazio para detecção automática de URL (recomendado para portabilidade)
# Caso precise forçar (ex: HTTPS ou subdomínio), preencha: http://meusite.com
APP_URL=
